

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

venv/log.txt
test_emails.txt
emails.txt
results/

venv/
sponsors.db
data/*.db
data/log.txt
log.txt
err.log
emails.txt
